doctype html
link(hreflang='es-MX' href='//Consalv0.github.io/MatrixOperator')
html
  head
    title Matrix Operator
    meta(charset='UTF-8')
    meta(name='viewport' content='user-scalable=no' width='device-width')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    //- script(language='javascript' type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/svg.js/2.5.2/svg.min.js')
    style
      include ../css/main.min.css
    script(type='text/x-template' id='modalTemplate')
      .modal.fade(v-bind:id='name' tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog.modal-lg
          .alert(v-bind:class='"alert-" + alert')
            strong {{ upperCaseAlert }}!
            p(v-html='message')
    script(type='text/x-template' id='cardTemplate')
      .card(v-bind:id='name')
        .card-header
          .btn-toolbar.d-flex
            .btn-group.mx-auto
              button.btn.btn-secondary.dropdown-toggle#pasteMenu(type='button' data-toggle='dropdown')
                i.fa.fa-clone(aria-hidden='true')
              .dropdown-menu#listCopies(aria-labelledby='pasteMenu')
                .dropdown-item.disabled(v-bind:id='name' role='button') Matrix {{ name }}
            .input-group.mx-auto
              span.input-group-btn
                button.btn.btn-outline-primary#multBy(type='button' v-on:click='doMultBy($event.target)') ×
              input.form-control.input-sm(type='text' aria-describedby='multBy')
            button.btn.btn-outline-primary.mx-auto#tras(type='button' v-on:click='doTranspose()') {{ name }}
              sup Tr
            button.btn.btn-outline-primary.mx-auto#inv(type='button' v-on:click='doInverse()') {{ name }}
              sup -1
            button.btn.btn-outline-primary.mx-auto#det(type='button' v-on:click='doDetTooltip($event.target)' data-animation='false' data-trigger='manual' data-placement='bottom' data-html='true') |{{ name }}|
        .card-block.d-flex.flex-column.flex-lg-row
          .card-block
            h2.card-title.font-weight-bold.text-center Matrix {{ name }}
            h6.card-subtitle.text-center.text-muted 0 × 0
          .card-block.btn-toolbar.justify-content-center.align-items-center#sizeController
            .d-flex.flex-column.mr-5
              h6.text-center Rows
              .btn-group#rows
                button.btn.btn-primary#sum(v-on:click='sumRow(true)')
                  i.fa.fa-chevron-down
                button.btn.btn-secondary#sub(v-on:click='sumRow(false)')
                  i.fa.fa-chevron-up
            .d-flex.flex-column
              h6.text-center Columns
              .btn-group#columns
                button.btn.btn-primary#sum(v-on:click='sumColumns(true)')
                  i.fa.fa-chevron-right
                button.btn.btn-secondary#sub(v-on:click='sumColumns(false)')
                  i.fa.fa-chevron-left
        .div
          .progress-bar(style='width: 100%; height: 1px; background-color: #ccc;')
        .card-block
          #axisSolved.hidden-xs-up
            table.table
              .d-flex.flex-nowrap
                var.form-control.x(style='text-align:center' readonly) 𝑥
                var.form-control.y(style='text-align:center' readonly) 𝑦
                var.form-control.z(style='text-align:center' readonly) 𝑧
                var.form-control.s(style='text-align:center' readonly)
          table#mtrx.table(v-on:once='doTable()' v-on:input='updateCell($event.target)')
  body.container
    modals
      modal(v-for='modal in modals' v-bind:name='modal.name' v-bind:alert='modal.alert' v-bind:upperCaseAlert='modal.upperCaseAlert' v-bind:message='modal.message')
    cards.d-flex.flex-wrap.flex-column.flex-lg-row.justify-content-around
      div.col-xs-12.col-lg-6(v-for='card in cards')
        card(v-bind:name='card.name' v-bind:matrix='card.matrix')
    .card#C
      .card-header
        .btn-toolbar.d-flex
          .btn-group.mx-auto
            button.btn.btn-secondary.dropdown-toggle#pasteMenu(type='button' data-toggle='dropdown')
              i.fa.fa-clone(aria-hidden='true')
            .dropdown-menu#listCopies(aria-labelledby='pasteMenu')
              .dropdown-item#copyA(role='button') Matrix A
              .dropdown-item#copyB(role='button') Matrix B
              .dropdown-item.disabled#copyC(role='button') Matrix C
          .input-group.mx-auto
            span.input-group-btn
              button.btn.btn-outline-primary#multBy(type='button') ×
            input.form-control.input-sm(type='text' aria-describedby='multBy')
          button.btn.btn-outline-primary.mx-auto#tras(type='button') C
            sup Tr
          button.btn.btn-outline-primary.mx-auto#inv(type='button') C
            sup -1
          button.btn.btn-outline-primary.mx-auto#det(type='button' data-animation='false' data-trigger='manual' data-placement='bottom' data-html='true') |C|
      .card-block.btn-toolbar.d-flex.flex-row#matrixOperator
        select.custom-select.mx-auto#matrixFirst
          option(selected) Matrix A
          option Matrix B
        .btn-group.mx-auto#operation(data-toggle='buttons')
          label#sum.btn.btn-primary
            i.fa.fa-plus
            input(type='radio' name='options')
          label#sub.btn.btn-primary
            i.fa.fa-minus
            input(type='radio' name='options')
          label#mult.btn.btn-primary
            i.fa.fa-times
            input(type='radio' name='options')
        select.custom-select.mx-auto#matrixSecond
          option Matrix A
          option(selected) Matrix B
      .div.mb-3
        .progress-bar(style='width: 100%; height: 1px; background-color: #ccc;')
      .d-flex.flex-column
        h2.card-title.font-weight-bold.text-center Matrix C
        h6.card-subtitle.text-center.text-muted 0 × 0
        .card-block
          #axisSolved.hidden-xs-up
            table.table
              .d-flex.flex-nowrap
                var.form-control.x(style='text-align:center' readonly) 𝑥
                var.form-control.y(style='text-align:center' readonly) 𝑦
                var.form-control.z(style='text-align:center' readonly) 𝑧
                var.form-control.s(style='text-align:center' readonly)
          table#mtrx.table
      .card-header
        .progress-bar(style='width: 100%; height: 1px; background-color: #ccc;')
  button#createCard.btn.btn-primary.rounded-circle
    i.fa.fa-plus
    
    script(src='//code.jquery.com/jquery-3.2.1.min.js')
    script(src='//cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    script
      include ../js/main.js
