// Breakpoints
@size-sm: 544px;
@size-md: 767px;
@size-lg: 992px;
@size-xl: 1200px;

@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Playfair+Display);

html, body {
  font-family: 'Lato', sans-serif;
  background-color: #ececec;
  font-size: 30px;
  @media (max-width: @size-md) {
    font-size: 12px;
  }
  @media (min-width: @size-lg) {
    font-size: 14px;
  }
}

.card-header {
  @media (max-width: @size-lg) {
    font-size: 1rem;
  }
}

h2.card-block {
  text-align: center;
  font-weight: bold;
}

.card, .side {
  margin-top: 4%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19),
                      0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),
              0 6px 6px rgba(0,0,0,0.23);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @media (max-width: @size-lg) {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}

#tables {
  margin-top: 4%;
  margin-bottom: 4%;
  @media (max-width: @size-lg) {
    margin-top: 0%;
    margin-bottom: 4%;
  }
}

.div {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

#sizeController {
  padding-top: 0;
}

.container {
  @media (max-width: @size-lg) {
    margin: 0;
    width: 100%;
  }
}

.input-sm {
  width: 4em !important;
  @media (max-width: @size-lg) {
    width: 3em !important;
  }
}

@element [data-ratio] {
  $this {
    height: eval('clientWidth * parseInt(getAttribute("data-ratio").split(":")[1]) / parseInt(getAttribute("data-ratio").split(":")[0])')px;
  }
}
